
<hr />

<div class="panel panel-default center-block" ng-if="message == ''">
    <div class="panel-heading">User info</div>
    <div class="panel-body">
        <label class="col-lg-2 control-label">Username:</label>
        <div class="col-lg-10">
            <h4>{{User.Username}}</h4>
        </div>
        <label class="col-lg-2 control-label">Email:</label>
        <div class="col-lg-10">
            <h4>{{User.Email}}</h4>
        </div>
        <a ui-sref="trips.byUser({userId:User.Id})" class="btn btn-sm btn-primary">See All Trips</a>
        <a ui-sref="stories.byUser({userId:User.Id})" class="btn btn-sm btn-primary">See All Stories</a>

</div>
<p ng-if="message != ''">{{message}}</p>