<div class="well well-sm">
    <label class="col-lg-2 control-label">Trip from: </label>
    <div class="col-lg-10">
        <h4>{{trip.Origin.Address}}</h4>
    </div>
    <label class="col-lg-2 control-label">Trip to: </label>
    <div class="col-lg-10">
        <h4>{{trip.Destination.Address}}</h4>
    </div>
    <label class="col-lg-2 control-label">By: </label>
    <div class="col-lg-10">
        <a sref="profile({userId:trip.CreatorId, own:false})"><h4>{{trip.CreatorUsername}}</h4></a>
    </div>
</div>