
<div ng-if="trips.length == 0">
    <h3></h3><h3>There's no any stories yet :(</h3>
    <h4>Feel free to add your trip and write story</h4>
    <button class="btn btn-primary btn-block"><a ui-sref="trips.add">Add Trip &#x2b;</a></button>
</div>

<div ng-if="trips.length > 0">

    <div ng-if="isNumber">
        <trips-list trips="trips" serial="serial"></trips-list>
    </div>

    <div ng-class="{'col-md-4':!small, 'col-md-12':small}" ng-repeat="trip in trips">
        <small-trip trip="trip"></small-trip>
        <div ng-click="show($index)" class="btn btn-block btn-primary">Details</div>
    </div>
</div>