<div id="story-panel" class="panel panel-primary">
    <div class="panel-heading panel-heading-lg-x">
        <p>
            <small>From: </small><br />{{trip.Origin.Address}}
        </p>
        <p>
            <small>To: </small><br />{{trip.Destination.Address}}
        </p>
    </div>
    <div class="panel-body">
        <p><small>Trip By:</small> <a ui-sref="profile({userId:trip.CreatorId, own:false})">{{trip.CreatorUsername}}</a></p>
        <p>Happened:</p>
        <p>
            <small>Trip started at: </small><br />{{trip.DateStarted | date:"d MMM yyyy"}}
        </p>
        <p>
            <small>Trip ended at: </small><br />{{trip.DateEnded | date:"d MMM yyyy"}}
        </p>

        <a ui-sref="stories.byTrip({tripId: trip.Id})" class="btn btn-primary">See stories from this trip</a>
        <a ui-sref="stories.add({tripId: trip.Id})" class="btn btn-primary" ng-if="mngr.getCurrentUser().Id == trip.CreatorId">Write a story from this trip</a>

    </div>
</div>