<div class="container-fluid">
    <div class="row vertical-align">
        <div class="col-sm-1 pager-btn-x noselect" ng-class="{disabled:HasPrevious() == false}" ng-click="HasPrevious() && Previous()">«</div>

        <div class="col-sm-10">
            <div ng-if="stories.length == 0">
                <h3>There's no any stories yet :(</h3>
                <h4>Feel free to add your trip and write story</h4>
                <button class="btn btn-primary btn-block"><a ui-sref="trips.add">Add Trip <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></button>
            </div>
            <div ng-if="stories.length > 0" id="story-panel" class="panel panel-primary">
                <div class="panel-heading panel-heading-lg-x">{{stories[serial].Title}} <br /><small>Posted on: {{stories[serial].DateMade | date:"d MMM yyyy"}}</small></div>
                <div class="panel-body">
                    <p><small>Story By:</small> <a ui-sref="profile({userId:stories[serial].CreatorId, own:false})">{{stories[serial].CreatorUsername}}</a></p>
                    <p><small>Happened on:</small> {{stories[serial].Date | date:"d MMM yyyy"}}</p>
                    <p>{{stories[serial].Text}}</p>

                    <!--<p>Story made: {{stories[serial].DateMade}} </p>-->
                    <p><small>Rating:</small> {{stories[serial].Rating}}</p>
                    <!--<a sref="trips">See this Trip</a>-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-10 btn btn-primary"><a ui-sref="trips.details({tripId:stories[serial].TripId})">See this trip</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-1 pager-btn-x noselect" ng-class="{disabled: HasNext() == false}" ng-click="HasNext() && Next()">»</div>
    </div>
</div>