<div class="container-fluid">
    <h3>Add New Story</h3>
    <hr />
    <div class="row">
        <form class="form-horizontal col-md-6" role="form" name="newStoryForm" ng-submit="newStoryForm.$valid && submit()">
            <fieldset>

                <div class="form-group">

                    <label for="title" class="col-md-3 control-label">Title of the story:</label>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="title" data-ng-model="newStory.Title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="text" class="col-md-3 control-label">Write down the story:</label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="3" id="textArea" data-ng-model="newStory.Text" required></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <label for="date" class="col-md-3 control-label">When it happened:</label>

                    <div class="col-md-9">
                        <input type="date" class="form-control" id="date" data-ng-model="newStory.Date" required>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-6 col-md-offset-6">
                        <button type="reset" class="btn btn-warning col-md-6">Cancel</button>
                        <button type="submit" class="btn btn-primary col-md-6">Submit</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class=" col-md-12">
                        <div data-ng-hide="message == ''" data-ng-class="(ok) ? 'alert alert-success' : 'alert alert-danger'">
                            {{message}}
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>