<div>
    <h3>{{Title}}</h3>
    <hr />
    <p ng-if="message != ''">{{message}}</p>
    <div ng-if="message == '' && !(Stories.length > 0)" class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3></h3><h3>There's no any stories yet :(</h3>
                <h4>Feel free to add your trip and write story</h4>
                <button class="btn btn-primary btn-block"><a ui-sref="trips.add">Add Trip &#x2b;</a></button>
            </div>
        </div>
    </div>
    <stories-grid stories="Stories" serial="Serial" ng-if="message == ''"></stories-grid>
</div>